<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storm.kpi">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.kpi.activity.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/a"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xGiOX64VojzSDGWCK5uUZY6V2hmzFVFc" />
        -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name="com.kpi.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.KpiIndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.IndexTrendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.AreaPerformanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.ProductPerformanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.UnusualAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.AccountDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.ProductAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.StormSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.UpdateInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.kpi.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.BeginHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.PassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.ForgotPassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kpi.activity.AboutStormActivity" />
        <activity
            android:name="com.kpi.activity.NowPassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kpi.activity.FeedBackActivity" />
        <activity
            android:name="com.kpi.activity.InforMessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.FindPassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.BindAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.AccountManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kpi.activity.AddAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.kpi.activity.SelectCounterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.kpi.activity.BusinessOpportunityActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.kpi.activity.ContactStormActivity" />
        <activity
            android:name="com.kpi.activity.SignInNotesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kpi.activity.SetScanKpiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="forest1#121" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--
         &lt;!&ndash; 百度地图所需的service &ndash;&gt;
         <service
             android:name="com.baidu.location.f"
             android:enabled="true"
             android:process=":remote"/>
        -->


        <!--
             <meta-data
             android:name="com.baidu.lbsapi.API_KEY"
             android:value="3ecea51f560650b1ed8a4b99808f52e8"/>
        -->

        <activity
            android:name="com.kpi.activity.EaseContactListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.kpi.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kpi.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>